/* Контрол с общими действиями */
.BasketTool{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label{

}

.BasketTool-total{
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-links {
	flex-grow: 1;
	justify-self: flex-start;
}

.BasketTool-links a {
	color: #0087E9;
	text-decoration: none;
	position: relative;
}

.BasketTool-links a::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #0087E9;
	position: absolute;
	bottom: 0;
	left: 0;
}




